# This file contains saved game

[
    game:
        uid: ''
        round: ''
        players: [
            player:
                id : 0
                name: ''
                cards: [
                    card:
                        name: ''
                        value: 0
                        used : false
                ]
                points : 0
        ]
]

    
